ADMINS=12345678,12345677
BOT_TOKEN=123452345243:Asdfasdfasf
ip=localhost
# Docker ichida ishlatilganda REDIS_HOST=redis bo'ladi
# Local ishlatganda REDIS_HOST=localhost
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0
